body{
  background-color: gray;
}

.content-row{
  display: flex;
  flex-direction: row;
}

.card{
  width:27%;
  height: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: lightblue; 
 text-align: center;
}

.card-title{
  border: solid 1px lightblue;
}
